<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mission to Mars Heading -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading"> {{"Lastest Mars News"}}</h2>
        <h4> {{"NASA's Next Mars Lander Spreads its Solar Wings"}} </h4>
        <h5>{{"NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November."}}</h4>
        
      </div>
    </div>
    
    <br>
    <br>
    
    <div class="row">
        
        <div class="col-md-6"></div>
        <div class="col-md-6">Weather On Mars</div>
    <div>
<br>

    <div class="row">
      
      <div class="col-md-6"></div>
      <div class="col-md-6">
        
        Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28
        
      </div>
    <div>

        <br> 
        <br> 
        <br> 
        <br> 
        <br> 
              
  
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <img src="https://photojournal.jpl.nasa.gov/figures/PIA19141_fig1.jpg" alt="Rover Opportunity Mars" style="width:500px;height:500px;">
          </div>
          <div class="col-md-6">
              <table border="1" class="dataframe">
                  <thead>
                    <tr style="text-align: right;">
                      <th></th>
                      <th>Description</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>0</th>
                      <td>Equatorial Diameter:</td>
                      <td>6,792 km</td>
                    </tr>
                    <tr>
                      <th>1</th>
                      <td>Polar Diameter:</td>
                      <td>6,752 km</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Mass:</td>
                      <td>6.42 x 10^23 kg (10.7% Earth)</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Moons:</td>
                      <td>2 (Phobos &amp; Deimos)</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>Orbit Distance:</td>
                      <td>227,943,824 km (1.52 AU)</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>Orbit Period:</td>
                      <td>687 days (1.9 years)</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td>Surface Temperature:</td>
                      <td>-153 to 20 °C</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td>First Record:</td>
                      <td>2nd millennium BC</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td>Recorded By:</td>
                      <td>Egyptian astronomers</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
    
  </div>
</body>

</html>

